@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rock Salt", cursive;
}


body {

  margin: 0;
}



.br-sketch{
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
